.width-25{
    width: 25%;
}

.width-15{
    width: 15%;
}
.width-35{
    width: 35%;
}

.width-50{
    width: 50%;
}

.width-100{
    width: 100%;
}

.width-80{
    width: 80%;
}

.width-13{
    width: 13%;
}

.width-10{
    width: 10%;
}

.width-90{
    width: 90%;
}
